<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AlexZ005 - Personal page</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/landing-page.min.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-dark bg-dark fixed-top">
      <div class="">
        <a class="navbar-brand" href="#">AlexZ005</a>
      </div>  
      <div class="">
          <a class="btn btn-dark" href="#foo"><span>Tutorials</span></a>
          <a class="btn btn-dark" href="#foo"><span>Researches</span></a>
        <a class="btn btn-dark" href="#">Software</a>
        <a class="btn btn-dark" href="#">Games</a>
        <a class="btn btn-secondary" href="#">About</a>
      </div>
    </nav>

    <!-- Tutorials Section -->
    <section class="features-icons bg-light text-center">
        <div class="container">
            <h2 class="mb-5">Tutorials</h2>

            <ul class="list-group">
                <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                  How to Download Any YouTube Video
                  <i class="fa fa-youtube-play fa-fw"></i>
                </li>
                <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                  Dapibus ac facilisis in
                  <span class="badge badge-primary badge-pill">2</span>
                </li>
                <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                  Morbi leo risus
                  <span class="badge badge-primary badge-pill">1</span>
                </li>
              </ul>
        </div>
    </section>

    <!-- Researches List -->
    <section class="features-icons bg-light text-center">
        <div class="container">
            <h2 class="mb-5">Researches</h2>
            
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>

        </div>
    </section>
  

    <!-- Software -->
    <section class="features-icons bg-light text-center">
      <div class="container">
          <h2 class="mb-5">Software</h2>
          <div class="row">
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-screen-desktop m-auto text-primary"></i>
              </div>
              <h3>MindMap</h3>
              <p class="lead mb-0">Blender addon for building MindMaps.</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-screen-desktop m-auto text-primary"></i>
              </div>
              <h3>xmkeys</h3>
              <p class="lead mb-0">Bind keyboard keys to mouse clicks.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Games -->
    <section class="testimonials text-center bg-light">
      <div class="container">
        <h2 class="mb-5">Games</h2>
        <div class="row">
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="img/testimonials-1.jpg" alt="">
              <h5>Casual Knight</h5>
              <p class="font-weight-light mb-0">"Built for fun!"</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Call to Action -->
    <section class="call-to-action text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h2 class="mb-4">Would you like to receive notification of a new article?</h2>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form name="gform" id="gform" enctype="text/plain" action="https://docs.google.com/forms/d/1t_vw9HskbrvbdkyNhoGZnWrGxn5MH9Gh_tJ5al9Ss64/formResponse?" target="hidden_iframe" onsubmit="submitted=true;">
              <div class="form-row">
                <div class="col-12 col-md-9 mb-2 mb-md-0">
                  <input type="email" class="form-control form-control-lg" name="entry.677113597" placeholder="Enter your email...">
                </div>
                <div class="col-12 col-md-3">
                  <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!--     toperkin trick for formResponse -->
    <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {}"></iframe>


    <!-- Footer -->
    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a href="#">About</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Contact</a>
              </li>
              <li class="list-inline-item">
                  <p class="text-muted small mb-4 mb-lg-0">&copy; AlexZ005 2018</p>
                </li>

            </ul>
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-3">
                <a href="https://twitter.com/AlexZ005">
                  <i class="fa fa-twitter fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-linkedin fa-2x fa-fw"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    
    <!-- JavaScript for form -->
    <script type="text/javascript">var submitted=false;</script>
    <script type="text/javascript">
    $('#gform').on('submit', function(e) {
      $('#gform *').fadeOut(2000);
      $('#gform').prepend('You have subscribed, you can unsubscribe anytime.');
      });
    </script>
  </body>

</html>

